<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Your documents:</h2>
          <a class="pad-new pull-right btn btn-success btn-sm" ng-click="newPad()">+</a>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="" ng-repeat="pad in pads[0] track by $index">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <a href="#/pad" ng-click="openUsersPad(pad)">
                    <h3 class="panel-title">{{pad.title}}</h3>
                  </a>
                  <div class="pull-right pad-delete btn btn-sm btn-danger" ng-click="deletePad(pad, $index)">x</div>
                </div>
                <div class="panel-body">
                  <h5 ng-show="pad.collaborators[0]">Collaborators:</h5>
                  <ul class="pad-collaborators">
                    <li ng-repeat="collaborator in pad.collaborators track by $index">{{collaborator}}</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Documents you are collaborating on:</h2>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="" ng-repeat="pad in pads[1] track by $index">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <a href="#/pad" ng-click="openOthersPad(pad)">
                    <h3 class="panel-title">{{pad.title}}</h3>
                  </a>
                </div>
                <div class="panel-body">
                    <h5>Owner: {{pad.owner}}</h5>
                  <h5 ng-show="pad.collaborators[0]">Collaborators:</h5>
                  <ul class="pad-collaborators">
                    <li ng-repeat="collaborator in pad.collaborators track by $index">{{collaborator}}</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>