<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Your documents:</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="pad in pads[0] track by $index">
          <a href="#/pad" ng-click="openUsersPad(pad)">
            <h3>{{pad.title}}</h3>
            <ul>
              <li class="pad-owner">{{pad.owner}}</li>
              <li class="pad-collaborator" ng-repeat="collaborator in pad.collaborators">{{collaborator}}</li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">

      <h2>Documents you are collaborating on:</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="pad in pads[1] track by $index">
          <a href="#/pad" ng-click="openOthersPad(pad)">
            <h3>{{pad.title}}</h3>
            <ul>
              <li class="pad-owner">{{pad.owner}}</li>
              <li class="pad-collaborator" ng-repeat="collaborator in pad.collaborators">{{collaborator}}</li>
            </ul>
          </a>
        </li>
      </ul>
    </div>

    <button ng-click="newPad()">New Pad</button>
  </div>
</div>